body {
    font-family: "Andale Mono", monospace;
}

h1, h2, h3 {
    font-family: "Andale Mono", cursive;
}

h2 {
    color:rgb(189, 166, 162)
}
header h2 {
    color: rgb(118, 128, 160)
}


.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(224, 215, 171), rgb(122, 198, 211) );
    color: rgb(64, 98, 112);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px
}

.navbar {
    background-color: rgb(98, 132, 146)
}